<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rhicstech.crutra.crutra">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".auth.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".auth.RegisterActivity" />
        <activity
            android:name=".CompanyMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialCamera.CaptureActivity" />

        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_486ca6ef361643ae128c7a47954c33e2e5088cb8" />

        <activity android:name=".auth.intro.Introduction" />
        <activity android:name=".Profile.SelectVideoActivity"
            android:label="@string/selectVideo"></activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJBB339u0ZbXLrcHCb7KttIGMMbfT8xhA" />
    </application>

</manifest>